export(appac, check_cols)
exportClasses(Drift, Correction, Appac)
exportMethods(coefficients, compensatedCorrectedAreas, compensatedRawAreas,
       corMatrix, correctedAreas, covMatrix, driftFactor, dates,
       expectedAreas, P, plotControlChart, plotGlobalFit,
       plotLocalFit, pValues, rawAreas, residualAreas, stdErrors, variance)
import(mathjaxr, ggplot2, methods, utils)
importFrom(stats, coefficients, cooks.distance, cor.test, cor, cov, density,
           dnorm, lm, na.omit, predict, sd, vcov, qchisq, qnorm)
importFrom(data.table, as.IDate)
importFrom(gridExtra, grid.arrange)
importFrom(Rbeast, beast123)
importFrom(VGAM, cauchy, coefficients, vcov, vglm, uninormal)
importFrom(dplyr, across, filter, full_join, group_by, left_join, mutate, n, ungroup, summarise, where, '%>%')
importFrom(ggpubr, ggarrange)
importFrom(patchwork, plot_layout)
importFrom(moments, skewness, kurtosis)
importFrom(car, durbinWatsonTest)
importFrom(lmtest, bptest)
